
<section class="bg-main-light shadow rounded-4 p-2 my-2">
    <h1 class="h2 text-main">login Now</h1>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        
          

        <div class="my-2">
            <label for="email">email</label>
            <input id="email" formControlName="email" type="email" class="form-control">
            <!-- [ngClass]="{
                'is-valid':!loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
                'is-invalid':loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
                }" -->
            
            @if (loginForm.get("email")?.errors && (loginForm.get("email")?.touched || loginForm.get("email")?.dirty) ){
                <div class="alert alert-danger w-50">
                    @if (loginForm.get("email")?.getError("required")) {
                        <p>email is erquired</p>
                    }
                    @else if (loginForm.get("email")?.getError("email")) {
                        <p>email is not vaild</p>
                    }
                
        </div>
    }
        </div>
      

        <div class="my-2">
            <label for="password">password</label>
            <input id="password" formControlName="password" type="password" class="form-control">
            <!-- [ngClass]="{
                'is-valid':!loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
                'is-invalid':loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
                }"
            > -->
            @if (loginForm.get("password")?.errors && (loginForm.get("password")?.touched || loginForm.get("password")?.dirty) ){
                <div class="alert alert-danger w-50">
                    @if (loginForm.get("password")?.getError("required")) {
                        <p class="m-0">password is erquired</p>
                    }
                    @else if (loginForm.get("password")?.getError("pattern")) {
                        <p>password is not vaild</p>
                    }
                
        </div>
    }
        </div>

      <div class="div d-flex align-items-center justify-content-end gap-4">
        <a routerLink="/forget" class="link-primary" > forget Password</a>

        <button    type="submit" class="btn-main ">login
            @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
       
      </div>
        @if (msgError) {
            <p class="alert alert-danger w-50 m-0">{{msgError}}</p>
        }
        @if (msgSuc) {
            <p class="alert alert-success">succsess</p>
        }
       
    </form>
</section>